Repository Shibdrex/AdvancedSoftwareEngineering, changes with the labels that .github/labeler.yml gives for each.
All labels: RootChange, AnyChange, Alarmclock-Module_Change, Alarmclock-Module-Dockerfile_Change, Assistant-Core_Change, Assistant-Core-Dockerfile_Change, AssistantSTT-Module_Change, AssistantSTT-Module-Dockerfile_Change, AssistantTTS-Module_Change, AssistantTTS-Module-Dockerfile_Change, Frontend-Module_Change, Frontend-Module-Dockerfile_Change, News-Module_Change, News-Module-Dockerfile_Change, OpenAI-Module_Change, OpenAI-Module-Dockerfile_Change, RaplaSchedule-Module_Change, RaplaSchedule-Module-Dockerfile_Change, Docker-Compose_Change, Build-Script_Change, Labeler_Change

.github/labeler.yml:

RootChange:
- changed-files:
  - any-glob-to-any-file: '*'

AnyChange:
- changed-files:
  - any-glob-to-any-file: '**'

Alarmclock-Module_Change:
- changed-files:
  - any-glob-to-any-file: 'Alarmclock-Module/*'

Alarmclock-Module-Dockerfile_Change:
- changed-files:
  - any-glob-to-any-file: 'Alarmclock-Module/dockerfile'

Assistant-Core_Change:
- changed-files:
  - any-glob-to-any-file: 'Assistant-Core/*'

Assistant-Core-Dockerfile_Change:
- changed-files:
  - any-glob-to-any-file: 'Assistant-Core/dockerfile'

AssistantSTT-Module_Change:
- changed-files:
  - any-glob-to-any-file: 'AssistantSTT-Module/*'

AssistantSTT-Module-Dockerfile_Change:
- changed-files:
  - any-glob-to-any-file: 'AssistantSTT-Module/dockerfile'

AssistantTTS-Module_Change:
- changed-files:
  - any-glob-to-any-file: 'AssistantTTS-Module/*'

AssistantTTS-Module-Dockerfile_Change:
- changed-files:
  - any-glob-to-any-file: 'AssistantTTS-Module/dockerfile'

Frontend-Module_Change:
- changed-files:
  - any-glob-to-any-file: 'Frontend-Module/*'

Frontend-Module-Dockerfile_Change:
- changed-files:
  - any-glob-to-any-file: 'Frontend-Module/dockerfile'

News-Module_Change:
- changed-files:
  - any-glob-to-any-file: 'News-Module/*'

News-Module-Dockerfile_Change:
- changed-files:
  - any-glob-to-any-file: 'News-Module/dockerfile'

OpenAI-Module_Change:
- changed-files:
  - any-glob-to-any-file: 'OpenAI-Module/*'

OpenAI-Module-Dockerfile_Change:
- changed-files:
  - any-glob-to-any-file: 'OpenAI-Module/dockerfile'

RaplaSchedule-Module_Change:
- changed-files:
  - any-glob-to-any-file: 'RaplaSchedule-Module/*'

RaplaSchedule-Module-Dockerfile_Change:
- changed-files:
  - any-glob-to-any-file: 'RaplaSchedule-Module/dockerfile'

Docker-Compose_Change:
- changed-files:
  - any-glob-to-any-file: '*/*.yaml'

Build-Script_Change:
- changed-files:
  - any-glob-to-any-file: '*/build.sh'

Labeler_Change:
- changed-files:
  - any-glob-to-any-file: '*/labeler.yml'

Frontend dockerfile made unprivileged
  Frontend-Module/dockerfile
Labels: AnyChange, Frontend-Module_Change, Frontend-Module-Dockerfile_Change

Delete Frontend-Module/Dockerfile
  Frontend-Module/Dockerfile
Labels: AnyChange, Frontend-Module_Change

Ich checke nicht mehr wie ich diese Endpunkte einbinde
  Frontend-Module/package-lock.json
  Frontend-Module/package.json
  Frontend-Module/src/components/Home/HomeComponents/MicrophoneButton.js
  Frontend-Module/src/components/Preferences/SetTime.js
  Frontend-Module/src/components/PreferencesContext.js
  Frontend-Module/src/components/SubmitAll.js
  Frontend-Module/src/services/audioController.js
  Frontend-Module/src/services/preferenceController.js
  Frontend-Module/src/tests/SubmitAll.test.js
  Frontend-Module/src/utils/designFunctions.js
Labels: AnyChange, Frontend-Module_Change

Adjusted newsmodule and raplamodule; added bash-script for easier startup
  News-Module/src/NewsAPI_manager.py
  RaplaSchedule-Module/dockerfile
  RaplaSchedule-Module/main.py
  RaplaSchedule-Module/requirements.txt
  RaplaSchedule-Module/routes.py
  RaplaSchedule-Module/src/auth_valid_manager.py
  RaplaSchedule-Module/src/healthcheck.py
  RaplaSchedule-Module/src/main.py
  RaplaSchedule-Module/src/raplaschedulemanager.py
  RaplaSchedule-Module/src/routes.py
  build.sh
  compose.yaml
Labels: RootChange, AnyChange, RaplaSchedule-Module_Change, RaplaSchedule-Module-Dockerfile_Change

Rename NewsAPI_manager.py to newsapi_manager.py
  News-Module/src/newsapi_manager.py
Labels: AnyChange

Frontend: Endpunkte ausgelagert frontend und POST requests erstellt. Ein Test fehlt
  Frontend-Module/src/components/Home/HomeComponents/MicrophoneButton.js
  Frontend-Module/src/components/PreferencesContext.js
  Frontend-Module/src/services/audioController.js
  Frontend-Module/src/services/preferencesController.js
Labels: AnyChange

Updated script to work with missing target directory
  build.sh
Labels: RootChange, AnyChange

Filled out Register
  ServiceRegister.json
Labels: RootChange, AnyChange

Frontend: jest tests are crazy cant anymore
  Frontend-Module/src/components/Preferences/GeneralLayout.js
  Frontend-Module/src/components/PreferencesContext.js
  Frontend-Module/src/components/SubmitAll.js
  Frontend-Module/src/services/audioController.js
  Frontend-Module/src/services/preferencesController.js
Labels: AnyChange

Frontend: testlaufen musst 2 löschen ch hasse jest
  Frontend-Module/package-lock.json
  Frontend-Module/src/tests/HomeTests/Home.test.js
  Frontend-Module/src/tests/HomeTests/Microphone.test.js
Labels: AnyChange, Frontend-Module_Change

Test: Mock server setup for audioController controller
  Frontend-Module/package-lock.json
  Frontend-Module/package.json
  Frontend-Module/src/babel.config.js
  Frontend-Module/src/jest.config.js
  Frontend-Module/src/mocks/handlers.js
  Frontend-Module/src/tests/controller/audioController.test.js
Labels: AnyChange, Frontend-Module_Change

Test: Mock server setup for audioController controller
  Frontend-Module/src/services/preferencesController.js
  Frontend-Module/src/tests/controller/preferencesController.test.js
Labels: AnyChange

Test: letzte tests
  Frontend-Module/.env
  Frontend-Module/src/components/SubmitAll.js
  Frontend-Module/src/tests/HomeTests/MicrophoneButton.test.js
  Frontend-Module/src/tests/SubmitAll.test.js
Labels: AnyChange, Frontend-Module_Change

Fixed script for shitty pcs
  build.sh
  dockerignore
Labels: RootChange, AnyChange

Rename Dockerfile to dockerfile
  Weather-Module/dockerfile
Labels: AnyChange

Added database to json
  ServiceRegister.json
Labels: RootChange, AnyChange

Frontend: Probleme mit Abhängigkeiten
  Frontend-Module/.dockerignore
  Frontend-Module/Dockerfile
  Frontend-Module/package-lock.json
  Frontend-Module/package.json
  Frontend-Module/src/components/Home/HomeComponents/MicrophoneButton.js
  Frontend-Module/src/tests/ServiceTests/designFunctions.test.js
Labels: AnyChange, Frontend-Module_Change

Frontend: 4. Sete engefügt
  Frontend-Module/package-lock.json
  Frontend-Module/package.json
  Frontend-Module/src/App.js
  Frontend-Module/src/components/Preferences/ChangePref.js
  Frontend-Module/src/components/Preferences/PrefComponents/Deadlines/ExamList.js
  Frontend-Module/src/components/Preferences/PrefComponents/Deadlines/exam.js
  Frontend-Module/src/components/Preferences/PrefComponents/Time/SetClockAndArea.js
  Frontend-Module/src/components/Preferences/SetDeadlines.js
  Frontend-Module/src/components/Preferences/SetTime.js
Labels: AnyChange, Frontend-Module_Change
